.Button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  background-color: rgb(236, 236, 236);
  white-space: nowrap; /* 화면 줄어들어도 버튼 안 텍스트 줄바꿈 x */
  cursor: pointer;
}

.Button_POSITIVE {
  background-color: rgb(100, 201, 100);
  color: white;
}

.Button_NEGATIVE {
  background-color: rgb(253, 86, 95);
  color: white;
}
