.DiaryList .menu_bar {
  display: flex;
  gap: 10px;
  margin: 20px 0px;
}

.DiaryList .menu_bar select {
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.DiaryList .menu_bar button {
  flex: 1; /* 버튼 너비 최대한으로 설정*/
}
