.Header {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.Header > div {
  display: flex;
}

.Header .header_center {
  width: 50%;
  font-size: 25px;
  justify-content: center; /* flex 안에서 자식들 배치를 가운데로 함 */
}

.Header .header_left {
  width: 25%;
  justify-content: flex-start; /* 시작지점에 딱 붙음 */
}

.Header .header_right {
  width: 25%;
  justify-content: flex-end; /* 끝지점에 딱 붙음 */
}
